#div1 {
   border: 2px solid;
   background-color: palevioletred; 
   height : 640px;
}

#div2{
    border:2px solid pink;
    background-color: white;
    height : 300px;
    width : 450px ;
    position: absolute;
    right : 470px;
    top : 150px ;
    border-radius: 5%;
    /* display: none; */
}

#h1{
    position: absolute;
    right : 60px;
    top : 20px;
    font-size: 40px;
}

#btn1{
    border : 2px solid palevioletred ;
    background-color: pink;
    height : 80px ;
    width : 120px ;
    font-size: 40px;
    position: absolute;
    right: 280px;
    top : 160px;
    border-radius: 5%;
}

#btn2{
    border : 2px solid palevioletred ;
    background-color: pink;
    height : 80px ;
    width : 120px ;
    font-size: 40px;
    position: absolute;
    right : 80px;
    top : 160px;
    border-radius: 5%;
}

#div3{
    border : 2px solid pink ;
    background-color: white;
    height : 300px;
    width : 450px ;
    position: absolute;
    right : 470px;
    top : 180px ;
    border-radius: 5%;
    display: none;
}

#h11{
    position: absolute;
    top : 100px;
    right : 80px;

}

#h12{
    font-size: 30px;
    color: black;
    position: absolute;
    right: 60px;
    top : 560px;
}